@use '@styles/mixins.module.scss' as *;
@use '@styles/variables.module.scss' as *;
.container{
    height: 100vh;
    padding: 30px 20px;
    @include flex_box_custom(space-between, unset, 0);
    flex-direction: column;
  
    // .boxContent {
    //   width: 100%;
    // }

    .total{
      @include flex_box_custom(space-between, center, 0);
    }
  
    .container_BtnCart {
      width: 100%;
      @include flex_box_custom(space-between, center, 0);
      margin-bottom: 40px;
    }
}