@use '@styles/mixins.module.scss' as *;
@use '@styles/variables.module.scss' as *;

.container {
    margin: 65px 0px 15px;
    @include flex_box_custom(center, center, 0px)
}

.headline {
    height: 2px;
    width: 100%;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin-top: 10px;
}

.containerMiddleBox {
    @include flex_box_custom(center, center, 0px);
    padding: 0px 50px;
    width: 70%;
    flex-direction: column;
    line-height: 0px;
}

.des {
    font-size: 14px;
    color: $thir-color;
    text-transform: uppercase;
}

.title{
    font-size: 24px;
    color: $primary-color;
}