
.container{
    margin-bottom: 20px;
    .labelInput{
        font-size: 14px;
        color: #222;
        margin-bottom: 5px;
    }
    
    .boxInput{
        position: relative;
        input {
            width: 100%;
            border: 1px solid #e1e1e1;
            outline: none;
            padding: 10px 0px 10px 10px;
            box-sizing: border-box;
        }
        .boxIcon{
            position: absolute;
            top: 12px;
            right: 5px;
            cursor: pointer;
        }
        .errMsg{
            color: red;
        }
    } 
}